@import (less) 'node_modules/normalize.css/normalize.css';
@import (less) 'media';

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.b
{
    font-size: 16px;
    color: black;
}

.container {
    width: 1400px;
    margin: 0 auto;
    @media @phonex-strict {
        width: 320px;
    }
    @media @phone-strict {
        width: 400px;
    }
    @media @tablet-strict {
        width: 768px;
    }
    @media @desktop-strict {
        width: 991px;
    }
}

@media @tablet-strict {
    .hederBlock {
        margin-top: 30px;
        display: flex;
    }
}

.header {
    height: 90px;
    @media @phonex-strict {
        height: 45px;
    }
    @media @phone-strict {
        height: 45px;
    }
    @media @tablet-strict {
        height: 70px;
    }

    &_shopLogo {
        display: flex;
        margin-top: 30px;
        width: 104px;
        height: 22px;
        @media @phonex-strict {
            margin-top: 15px;
            width: 72px;
            height: 15px;
        }
        @media @phone-strict {
            margin-top: 15px;
            width: 72px;
            height: 15px;
        }
        @media @tablet-strict {
            margin-top: 9px;
        }
    }

    &_OggetoLogo {
        display: flex;
        margin: -37px 44.6%;
        width: 49px;
        height: 49px;
        @media @phonex-strict {
            margin: -20px 18%;
            width: 34px;
            height: 34px;
        }
        @media @phone-strict {
            margin: -20px 25%;
            width: 34px;
            height: 34px;
        }
        @media @tablet-strict {
            margin: 0 22%;
        }
    }

    &_PhoneContact {
        margin-top: 0;
        float: right;
        font-size: 24px;
        color: #c00;
        @media @phonex-strict {
            margin-left: 105px;
            font-size: 15px;
            margin-top: -10px;
        }
        @media @phone-strict {
            margin-left: 103px;
            font-size: 15px;
            margin-top: -10px;
        }
        @media @tablet-strict {
            margin-left: 62px;
            margin-top: 4px;
        }
    }
}

.FormWrapper {
    border: 1px solid #d9d9d4;
    margin-top: -46px;
    width: 278px;
    height: 36px;
    float: right;
    @media @phonex-strict {
        width: 34px;
        height: 34px;
    }
    @media @phone-strict {
        width: 36px;
        height: 36px;
    }

    input {
        width: 278px;
        height: 34px;
        border: none;
        @media @phonex-strict {
            width: 34px;
        }
        @media @phone-strict {
            width: 36px;
        }
    }

    &_IconSearch {
        width: 16px;
        height: 16px;
        float: right;
        margin-top: -33px;
        @media @phonex-strict {
            margin-right: 8px;
        }
        @media @phone-strict {
            margin-right: 10px;
        }
    }
}

.Section {
    height: 956px;
    @media @phonex-strict {
        height: 700px;
    }
    @media @phone-strict {
        height: 780px;
    }
    @media @tablet-strict {
        height: 700px;
    }
    @media @desktop-strict{
        height: 780px;
    }

    &_LineUnderHeader {
        margin-top: -38px;
        height: 51px;
        width: 100%;
        border: 1px solid #d9d9d4;
        background: #f2f2ed;
        @media @phonex-strict {
            margin-top: 0;
        }
        @media @phone-strict {
            margin-top: 0;
        }
        @media @tablet-strict {
            margin-top: 0;
        }
    }

    &_ProductName {
        margin-left: 764px;
        font-size: 36px;
        color: black;
        margin-top: -7px;
        @media @phonex-strict {
            border: 1px solid #d9d9d4;
            background: #f2f2ed;
            text-align: center;
            margin-left: 0;
            font-size: 25px;
            margin-top: -10px;
        }
        @media @phone-strict {
            border: 1px solid #d9d9d4;
            background: #f2f2ed;
            text-align: center;
            margin-left: 0;
            font-size: 30px;
            margin-top: -10px;
        }
        @media @tablet-strict {
            margin-left: 520px;
            font-size: 34px;
        }
        @media @desktop-strict {
            margin-left: 570px;
            font-size: 34px;
        }
    }

    &_ProductDescription {
        margin-left: 764px;
        margin-top: -19px;
        @media @phonex-strict {
            margin-top: -15px;
            text-align: center;
            margin-left: 0;
        }
        @media @phone-strict {
            text-align: center;
            margin-left: 0;
        }
        @media @tablet-strict {
            margin-left: 520px;
        }
        @media @desktop-strict {
            margin-left: 570px;
        }
    }

    &_ProductPrice {
        font-size: 36px;
        color: #c00;
        margin-left: 764px;
        margin-top: 24px;
        @media @phonex-strict {
            float: right;
            font-size: 25px;
            margin-left: 0;
            margin-top: 338px;
        }
        @media @phone-strict {
            float: right;
            font-size: 30px;
            margin-left: 0;
            margin-top: 430px;
        }
        @media @tablet-strict {
            font-size: 34px;
            margin-left: 520px;
            margin-top: -10px;
        }
        @media @desktop-strict {
            margin-left: 570px;
            margin-top: -10px;
        }
    }

    &_Size {
        margin-top: -10px;
        margin-left: 764px;
        @media @phonex-strict {
            margin-left: 0;
            margin-top: 333px;
        }
        @media @phone-strict {
            margin-left: 0;
            margin-top: 420px;
        }
        @media @tablet-strict {
            margin-top: -30px;
            margin-left: 520px;
        }
        @media @desktop-strict {
            margin-left: 570px;
            margin-top: -30px;
        }
    }

    &_Color {
        margin-left: 764px;
        margin-top: 35px;
        @media @phonex-strict {
            margin-left: 0;
            margin-top: 8px;
        }
        @media @phone-strict {
            margin-left: 0;
            margin-top: 10px;
        }
        @media @tablet-strict {
            margin-left: 520px;
            margin-top: 10px;
        }
        @media @desktop-strict {
            margin-left: 570px;
            margin-top: 12px;
        }
    }
}

.Nav {
    float: left;
    margin-top: -35px;


    &_MainNavigation {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            float: left;
            display: block;
            margin-right: 20px;
            @media @phonex-strict {
                margin-right: 8px;
            }
        }

        a {
            font-size: 16px;
            color: #c00;
        }

        &_LocalNavigation {
            margin-left: -40px;
            margin-top: 50px;
            @media @phonex-strict {
                margin-top: 14px;
            }
            @media @phone-strict {
                margin-top: 14px;
            }
            @media @tablet-strict {
                margin-top: 30px;
            }

            li {
                margin-right: 4px;
            }
        }
    }
}


.Tshitrs {
    margin-top: 20px;

    img {
        position: absolute;
        @media @phonex-strict {
            margin-top: 88px;
            width: 320px;
            height: 320px;
        }
        @media @phone-strict {
            margin-top: 80px;
            width: 400px;
            height: 400px;
        }
        @media @tablet-strict {
            width: 500px;
            height: 500px;
        }
        @media @desktop-strict {
            width: 550px;
            height: 550px;
        }
    }
}

.Tshitrs_ColorThree-invisible {
    opacity: 0;
}

.Tshitrs_ColorThree {
    opacity: 1;
}

.Tshitrs_ColorTwo-invisible{
    opacity: 0;
}

.Tshitrs_ColorTwo {
    opacity: 1;
}

p {
    font-size: 16px;
    color: black;
}

.Size_line_block {
    margin-left: 764px;
    margin-top: -4px;
    padding: 0;
    display: flex;
    @media @phonex-strict {
        margin-top: -10px;
        margin-left: 0;
    }
    @media @phone-strict {
        margin-top: -10px;
        margin-left: 0;
    }
    @media @tablet-strict {
        margin-left: 520px;
    }
    @media @desktop-strict {
        margin-left: 570px;
    }
}

.Size_form_S {
    text-align: center;
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 42px;
        width: 42px;
    }
    @media @phone-strict {
        height: 45px;
        width: 45px;
    }
}

.Size_form_S.active {
    text-align: center;
    height: 61px;
    width: 61px;
    border: 3px solid red;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 38px;
        width: 38px;
    }
    @media @phone-strict {
        height: 41px;
        width: 41px;
    }
}

.Size_form_M {
    text-align: center;
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 42px;
        width: 42px;
    }
    @media @phone-strict {
        height: 45px;
        width: 45px;
    }
}

.Size_form_M.active {
    text-align: center;
    height: 61px;
    width: 61px;
    border: 3px solid red;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 38px;
        width: 38px;
    }
    @media @phone-strict {
        height: 41px;
        width: 41px;
    }
}

.Size_form_L {
    text-align: center;
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 42px;
        width: 42px;
    }
    @media @phone-strict {
        height: 45px;
        width: 45px;
    }
}

.Size_form_L.active {
    text-align: center;
    height: 61px;
    width: 61px;
    border: 3px solid red;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 38px;
        width: 38px;
    }
    @media @phone-strict {
        height: 41px;
        width: 41px;
    }
}

.Size_sign {
    font-size: 36px;
    margin-top: 10px;
    @media @phonex-strict {
        margin-top: 6px;
        font-size: 25px;
    }
    @media @phone-strict {
        margin-top: 5px;
        font-size: 30px;
    }
}

.Color_line_block {
    margin-top: -3px;
    margin-left: 764px;
    padding: 0;
    display: flex;
    @media @phonex-strict {
        margin-top: -10px;
        margin-left: 0;
    }
    @media @phone-strict {
        margin-top: -10px;
        margin-left: 0;
    }
    @media @tablet-strict {
        margin-left: 520px;
    }
    @media @desktop-strict {
        margin-left: 570px;
    }
}

.Change_color_one {
    text-align: center;
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background: white;
    margin-right: 10px;
    @media @phonex-strict {
        height: 42px;
        width: 42px;
    }
    @media @phone-strict {
        height: 45px;
        width: 45px;
    }
}

.Change_color_one.active {
    height: 61px;
    width: 61px;
    border: 3px solid red;
    @media @phonex-strict {
        height: 38px;
        width: 38px;
    }
    @media @phone-strict {
        height: 41px;
        width: 41px;
    }
}

.Change_color_two {
    text-align: center;
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background: #a5af96;
    margin-right: 10px;
    @media @phonex-strict {
        height: 42px;
        width: 42px;
    }
    @media @phone-strict {
        height: 45px;
        width: 45px;
    }
}

.Change_color_two.active {
    height: 61px;
    width: 61px;
    border: 3px solid red;
    @media @phonex-strict {
        height: 38px;
        width: 38px;
    }
    @media @phone-strict {
        height: 41px;
        width: 41px;
    }
}

.Change_color_three {
    text-align: center;
    height: 65px;
    width: 65px;
    border: 1px solid black;
    background: #e3d95e;
    margin-right: 10px;
    @media @phonex-strict {
        height: 42px;
        width: 42px;
    }
    @media @phone-strict {
        height: 45px;
        width: 45px;
    }
}

.Change_color_three.active {
    height: 61px;
    width: 61px;
    border: 3px solid red;
    @media @phonex-strict {
        height: 38px;
        width: 38px;
    }
    @media @phone-strict {
        height: 41px;
        width: 41px;
    }
}

.Button_buy {
    margin-top: 44px;
    margin-left: 764px;
    text-align: center;
    color: white;
    font-size: 30px;
    background: #c00;
    height: 80px;
    width: 200px;
    @media @phonex-strict {
        margin-top: -87px;
        float: right;
        font-size: 20px;
        height: 60px;
        width: 120px;
    }
    @media @phone-strict {
        margin-top: -90px;
        float: right;
        font-size: 25px;
        height: 60px;
        width: 150px;
    }
    @media @tablet-strict {
        margin-top: 24px;
        margin-left: 520px;
    }
    @media @desktop-strict {
        margin-left: 570px;
        margin-top: 24px;
    }
}

.Sign_line_block {
    display: flex;
    margin-top: 34px;
    @media @phonex-strict {
        margin-top: -15px;
        float: right;
        font-size: 14px;
    }
    @media @phone-strict {
        margin-top: -18px;
        float: right;
    }
    @media @tablet-strict {
        margin-top: 5px;
        margin-left: 10px;
    }
    @media @desktop-strict {
        margin-left: -191px;
        margin-top: 20px;
    }
}

.Sign_heart {
    margin-left: 764px;
    max-width: 38px;
    max-height: 35px;
    @media @phonex-strict {
        margin-left: 0;
        height: 18px;
        width: 18px;
    }
    @media @phone-strict {
        margin-left: 0;
        height: 20px;
        width: 20px;
    }
    @media @tablet-strict {
        margin-left: 520px;
    }
}

.Hold_over {
    color: #999;
    margin: auto 7px;
    font-weight: bold;
    @media @phonex-strict {
        margin: auto 0;
    }
    @media @phone-strict {
        margin: auto 5;
    }
}

.Footer {
    margin: 0;
    padding: 0;
    border: 1px solid #d9d9d4;
    background: #f2f2ed;
    height: 430px;
    @media @phonex-strict {
        height: 380px;
    }
    @media @phone-strict {
        height: 400px;
    }
    @media @tablet-strict {
        height: 440px;
    }

    @media @desktop-strict {
        height: 290px;
    }

    &_TitleNavigation {
        display: flex;
        margin-top: 43px;
        font-weight: bold;
        @media @phonex-strict {
            margin-top: 0;
        }
        @media @phone-strict {
            margin-top: 0;
        }
        @media @tablet-strict {
            margin-top: 0;
        }
        @media @desktop-strict {
            margin-top: 0;
        }
    }

    &_TitleNavigation2 {
        margin-left: 274px;
        @media @phonex-strict {
            margin-left: 80px;
        }
        @media @phone-strict {
            margin-left: 131px;
        }
        @media @desktop-strict {
            margin-left: 190px
        }
    }

    &_ServiceSupport {
        margin-top: -4px;
        display: flex;
        @media @phonex-strict {
            margin-top: -15px;
        }
        @media @phone-strict {
            margin-top: -15px;
        }
    }

    &_Column2ServiceSupport {
        margin-left: 51px;
        @media @phonex-strict {
            margin-left: 5px;
        }
        @media @phone-strict {
            margin-left: 10px;
        }
        @media @desktop-strict {
            margin-left: 30px;
        }
    }

    &_AboutCompany {
        margin-left: 75px;
        @media @phonex-strict {
            margin-left: 8px;
        }
        @media @phone-strict {
            margin-left: 10px;
        }
        @media @desktop-strict {
            margin-left: 30px;
        }
    }

    &_Column2AboutCompany {
        margin-left: 102px;
        @media @phonex-strict {
            margin-left: 0;
        }
        @media @phone-strict {
            margin-left: 5px;
        }
        @media @desktop-strict {
            margin-left: 30px;
        }
    }

    &_Deliverylog {
        height: 24px;
        width: 60px;
        @media @phonex-strict {
            height: 20px;
            width: 40px;
        }
    }

    &_Heartlog {
        height: 25px;
        width: 60px;
        @media @phonex-strict {
            height: 20px;
            width: 40px;
        }
    }

    &_Cuplog {
        height: 25px;
        width: 60px;
        @media @phonex-strict {
            height: 20px;
            width: 40px;
        }
    }

    &_FixHeight {
        display: flex;
        margin-top: -22px;
        margin-left: 60px;
        @media @phonex-strict {
            margin-left: 40px;
            margin-top: -19px;
        }
    }
}

@media @phonex-strict {
    .Footer_p{
        font-size: 13px;
    }
}

.Footer_navigation {
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin-top: 7px;
        @media @phonex-strict {
            margin-top: 4px;
        }
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 14px;
        @media @phonex-strict {
            font-size: 9px;
        }
        @media @phone-strict {
            font-size: 11px;
        }
    }
}

.Bonuses {
    margin-top: -51px;
    margin-left: 178px;
    @media @phonex-strict {
        display: flex;
        margin-top: 80px;
        margin-left: -270px;
    }
    @media @phone-strict {
        display: flex;
        margin-top: 95px;
        margin-left: -320px;
    }
    @media @tablet-strict {
        display: flex;
        margin-top: 120px;
        margin-left: -520px;
    }
    @media @desktop-strict {
        margin-top: -38px;
        margin-left: 10px;
    }
}

.Bonuses li {
    margin-top: 23px;
    @media @phonex-strict {
        margin-top: 15px;
    }
    @media @phone-strict {
        margin-top: 22px;
    }
    @media @desktop-strict {
        margin-top: 25px;
    }
}

.SocialNetworkSigns {
    text-align: center;
    margin-top: -43px;
    margin-left: 112px;
    @media @phonex-strict {
        display: flex;
        margin-top: 190px;
        margin-left: -250px;
    }
    @media @phone-strict {
        display: flex;
        margin-top: 240px;
        margin-left: -260px;
    }
    @media @tablet-strict {
        margin-top: 120px;
        margin-left: 0;
    }
    @media @desktop-strict {
        margin-top: -30px;
        margin-left: 0;
    }

    li {
        margin-top: 18px;
        display: block;
        @media @phonex-strict {
            margin-top: 0;
            margin-left: 20px;
        }
        @media @phone-strict {
            margin-top: 0;
            margin-left: 20px;
        }
        @media @tablet-strict {
            margin-top: 20px;
        }
    }

    &_FacebookLog {
        height: 31px;
        width: 16px;
    }

    &_TwitterLog {
        height: 28px;
        width: 34px;
    }

    &_InstagramLog {
        height: 31px;
        width: 31px;
    }
}

.Line_inside_footer {
    margin-top: 37px;
    border: 1px solid #d9d9d4;
    @media @phonex-strict {
        margin-top: -10px;
    }
    @media @phone-strict {
        margin-top: 0;
    }
    @media @tablet-strict {
        margin-top: 0;
    }
    @media @desktop-strict {
        margin-top: 10px;
    }
}

@media @phonex-strict {
    .Footer_p_2{
        font-size: 12px;
    }
}
