@import (less) 'node_modules/normalize.css/normalize.css';
@import (less) 'media';

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  width: 1400px;
  margin: 0 auto;
@media @phonex-strict {
    width: 320px;
  }
@media @phone-strict {
    width: 400px;
  }
@media @tablet-strict {
    width: 768px;
  }
}
@media @phonex-strict {
  .heder_block {
    margin-top: 10px;
    display: flex;
  }
}
@media @phone-strict {
  .heder_block {
    margin-top: 10px;
    display: flex;
  }
}
@media @tablet-strict {
.heder_block {
  margin-top: 30px;
  display: flex;
}
}
header {
  height: 90px;
  @media @phonex-strict {
    height: 45px;
  }
@media @phone-strict {
    height: 45px;
  }
@media @tablet-strict {
    height: 70px;
  }
}
.Shop_logo {
  display: flex;
  margin-top: 30px;
  width: 104px;
  height: 22px;
  @media @phonex-strict {
    margin-top: 11px;
    width: 72px;
    height: 15px;
  }
@media @phone-strict {
    margin-top: 11px;
    width: 72px;
    height: 15px;
  }
@media @tablet-strict {
    margin-top: 9px;
  }
}
.Oggeto_logo {
  display: flex;
  margin: -37px 44.6%;
  width: 49px;
  height: 49px;
  @media @phonex-strict {
    margin: 0 -4%;
    width: 34px;
    height: 34px;
}
@media @phone-strict {
    margin: 0 7%;
    width: 34px;
    height: 34px;
}
@media @tablet-strict {
    margin: 0 22%;
  }
}
.Phone_contact {
  margin-top: 0px;
  float: right;
  font-size: 24px;
  color: #cc0000;
  @media @phonex-strict {
  	margin-left: 105px;
    font-size: 15px;
    margin-top: 10px;
  }
@media @phone-strict {
	margin-left: 103px;
    font-size: 15px;
    margin-top: 10px;
  }
@media @tablet-strict {
	margin-left: 62px;
    margin-top: 4px;
  }
}
section {
  height: 956px;
  @media @phonex-strict {
    height: 700px;
}
@media @phone-strict {
    height: 780px;
}
@media @tablet-strict {
    height: 700px;
  }
}
.Line_under_header {
  margin-top: -38px;
  height: 51px;
  width: 100%;
  border: 1px solid #d9d9d4;
  background: #f2f2ed;
   @media @phonex-strict {
    margin-top: 0px;
  }
  @media @phone-strict {
    margin-top: 0px;
  }
  @media @tablet-strict {
  margin-top: 0px;
    }
}

.Form-wrapper {
  border: 1px solid #d9d9d4;
  margin-top: -46px;
  width: 278px;
  height: 36px;
  float: right;
  @media @phonex-strict {
    width: 34px;
    height: 34px;
  }
@media @phone-strict {
    width: 36px;
    height: 36px;
  }
}
.Form-wrapper input {
  width: 278px;
  height: 34px;
  border: none;
  @media @phonex-strict {
    width: 34px;
  }
@media @phone-strict {
    width: 36px;
  }
}
.Icon_search {
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -33px;
  @media @phonex-strict {
    margin-right: 8px;
  }
@media @phone-strict {
    margin-right: 10px;
  }
}
nav {
  float: left;
  margin-top: -35px;
}
.Main_navigation {
  margin: 0;
  padding: 0;
  display: flex;
}
.Main_navigation li {
  float: left;
  display: block;
  margin-right: 20px;
  @media @phonex-strict {
  margin-right: 8px;
  }
}
.Main_navigation li a {
  font-size: 16px;
  color: #cc0000;
}
.Local_navigation {
  margin-top: 50px;
  @media @phonex-strict {
    margin-top: 14px;
  }
@media @phone-strict {
    margin-top: 14px;
  }
@media @tablet-strict {
    margin-top: 30px;
  }
}
.Local_navigation li {
  margin-right: 4px;
}
.Tshitrs {
  margin-top: 20px;
}
.Tshitrs img {
  position: absolute;
  @media @phonex-strict {
    margin-top: 88px;
    width: 320px;
    height: 320px;
  }
@media @phone-strict {
    margin-top: 80px;
    width: 400px;
    height: 400px;
  }
@media @tablet-strict {
    width: 500px;
    height: 500px;
  }
}
.Color_three_invisible {
  opacity: 0;
}
.Color_three {
  opacity: 1;
}
.Color_two_invisible {
  opacity: 0;
}
.Color_two {
  opacity: 1;
}
.Color_one_invisible {
  opacity: 0;
}
.Color_one {
  opacity: 1;
}
.Product_name {
  margin-left: 764px;
  font-size: 36px;
  color: black;
  margin-top: -7px;
  @media @phonex-strict {
    border: 1px solid #d9d9d4;
    background: #f2f2ed;
    text-align: center;
    margin-left: 0px;
    font-size: 25px;
    margin-top: -10px;
  }
@media @phone-strict {
    border: 1px solid #d9d9d4;
    background: #f2f2ed;
    text-align: center;
    margin-left: 0px;
    font-size: 30px;
    margin-top: -10px;
  }
@media @tablet-strict {
    margin-left: 520px;
    font-size: 34px;
  }
}
p {
  font-size: 16px;
  color: black;
}
.Product_description {
  margin-left: 764px;
  margin-top: -19px;
  @media @phonex-strict {
    margin-top: -15px;
    text-align: center;
    margin-left: 0px;
}
@media @phone-strict {
    text-align: center;
    margin-left: 0px;
}
@media @tablet-strict {
    margin-left: 520px;
  }
}
.Product_price {
  font-size: 36px;
  color: #cc0000;
  margin-left: 764px;
  margin-top: 24px;
  @media @phonex-strict {
    float: right;
    font-size: 25px;
    margin-left: 0px;
    margin-top: 338px;
}
@media @phone-strict {
    float: right;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 430px;
}
@media @tablet-strict {
    font-size: 34px;
    margin-left: 520px;
    margin-top: -10px;
  }
}
.Size {
  margin-top: -10px;
  margin-left: 764px;
  @media @phonex-strict {
    margin-left: 0px;
    margin-top: 333px;
}
@media @phone-strict {
    margin-left: 0px;
    margin-top: 420px;
}
@media @tablet-strict {
    margin-top: -30px;
    margin-left: 520px;
  }
}
.Size_line_block {
  margin-left: 764px;
  margin-top: -4px;
  padding: 0;
  display: flex;
  @media @phonex-strict {
    margin-top: -10px;
    margin-left: 0px;
  }
@media @phone-strict {
    margin-top: -10px;
    margin-left: 0px;
  }
@media @tablet-strict {
    margin-left: 520px;
  }
}
.Size_form_S {
  text-align: center;
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: white;
  margin-right: 10px;
  @media @phonex-strict {
    height: 42px;
    width: 42px;
}
@media @phone-strict {
    height: 45px;
    width: 45px;
  }
}
.Size_form_S.active {
  text-align: center;
  height: 61px;
  width: 61px;
  border: 3px solid red;
  background: white;
  margin-right: 10px;
  @media @phonex-strict { 
    height: 38px;
    width: 38px;
  }
@media @phone-strict { 
    height: 41px;
    width: 41px;
  }
}
.Size_form_M {
  text-align: center;
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: white;
  margin-right: 10px;
  @media @phonex-strict {
    height: 42px;
    width: 42px;
}
@media @phone-strict {
    height: 45px;
    width: 45px;
  }
}
.Size_form_M.active {
  text-align: center;
  height: 61px;
  width: 61px;
  border: 3px solid red;
  background: white;
  margin-right: 10px;
  @media @phonex-strict { 
    height: 38px;
    width: 38px;
  }
@media @phone-strict { 
    height: 41px;
    width: 41px;
  }
}
.Size_form_L {
  text-align: center;
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: white;
  margin-right: 10px;
  @media @phonex-strict {
    height: 42px;
    width: 42px;
}
@media @phone-strict {
    height: 45px;
    width: 45px;
  }
}
.Size_form_L.active {
  text-align: center;
  height: 61px;
  width: 61px;
  border: 3px solid red;
  background: white;
  margin-right: 10px;
  @media @phonex-strict { 
    height: 38px;
    width: 38px;
  }
@media @phone-strict { 
    height: 41px;
    width: 41px;
  }
}
.Size_sign {
  font-size: 36px;
  margin-top: 10px;
  @media @phonex-strict {
    margin-top: 6px;
    font-size: 25px;
  }
@media @phone-strict {
    margin-top: 5px;
    font-size: 30px;
  }
}
.Color {
  margin-left: 764px;
  margin-top: 35px;
  @media @phonex-strict {
    margin-left: 0px;
    margin-top: 8px;
  }
@media @phone-strict {
    margin-left: 0px;
    margin-top: 10px;
  }
@media @tablet-strict {
    margin-left: 520px;
    margin-top: 10px;
  }
}
.Color_line_block {
  margin-top: -3px;
  margin-left: 764px;
  padding: 0;
  display: flex;
  @media @phonex-strict {
    margin-top: -10px;
    margin-left: 0px;
}
@media @phone-strict {
    margin-top: -10px;
    margin-left: 0px;
}
@media @tablet-strict {
    margin-left: 520px;
  }
}
.Change_color_one {
  text-align: center;
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: white;
  margin-right: 10px;
  @media @phonex-strict {
    height: 42px;
    width: 42px;
  }
@media @phone-strict {
    height: 45px;
    width: 45px;
  }
}
.Change_color_one.active {
  height: 61px;
  width: 61px;
  border: 3px solid red;
  @media @phonex-strict {
    height: 38px;
    width: 38px;
  }
@media @phone-strict {
    height: 41px;
    width: 41px;
  }
}
.Change_color_two {
  text-align: center;
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: #a5af96;
  margin-right: 10px;
  @media @phonex-strict {
    height: 42px;
    width: 42px;
  }
@media @phone-strict {
    height: 45px;
    width: 45px;
  }
}
.Change_color_two.active {
  height: 61px;
  width: 61px;
  border: 3px solid red;
  @media @phonex-strict {
    height: 38px;
    width: 38px;
  }
@media @phone-strict {
    height: 41px;
    width: 41px;
  }
}
.Change_color_three {
  text-align: center;
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: #e3d95e;
  margin-right: 10px;
  @media @phonex-strict {
    height: 42px;
    width: 42px;
  }
@media @phone-strict {
    height: 45px;
    width: 45px;
  }
}
.Change_color_three.active {
  height: 61px;
  width: 61px;
  border: 3px solid red;
  @media @phonex-strict {
    height: 38px;
    width: 38px;
  }
@media @phone-strict {
    height: 41px;
    width: 41px;
  }
}
.Button_buy {
  margin-top: 44px;
  margin-left: 764px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #cc0000;
  height: 80px;
  width: 200px;
  @media @phonex-strict {
    margin-top: -87px;
    float: right;
    font-size: 20px;
    height: 60px;
    width: 120px;
}
@media @phone-strict {
    margin-top: -90px;
    float: right;
    font-size: 25px;
    height: 60px;
    width: 150px;
}
@media @tablet-strict {
    margin-top: 24px;
    margin-left: 520px;
  }
}
.Sign_line_block {
  display: flex;
  margin-top: 34px;
  @media @phonex-strict {
    margin-top: -15px;
    float: right;
    font-size: 14px;
}
@media @phone-strict {
    margin-top: -18px;
    float: right;
}
@media @tablet-strict {
    margin-top: 5px;
    margin-left: 10px;
  }
}
.Sign_heart {
  margin-left: 764px;
  max-width: 38px;
  max-height: 35px;
  @media @phonex-strict {
    margin-left: 0px;
    height: 18px;
    width: 18px;
}
@media @phone-strict {
    margin-left: 0px;
    height: 20px;
    width: 20px;
}
@media @tablet-strict {
    margin-left: 520px;
  }
}
.Hold_over {
  color: #999999;
  margin: auto 7px;
  font-weight: bold;
  @media @phonex-strict {
    margin: auto 0px;
  }
@media @phone-strict {
    margin: auto 5px;
  }
}
footer {
  margin: 0px;
  padding: 0px;
  border: 1px solid #d9d9d4;
  background: #f2f2ed;
  height: 430px;
  @media @phonex-strict {
    height: 430px;
  }
@media @phone-strict {
    height: 600px;
  }
@media @tablet-strict {
    height: 440px;
  }
}
.Footer_topic_bold {
  display: flex;
  margin-top: 43px;
  font-weight: bold;
  @media @phonex-strict {
    margin-top: 0px;
}
@media @phone-strict {
    margin-top: 0px;
}
@media @tablet-strict {
    margin-top: 0px;
  }
}
.Right_footer_topic_bold {
  margin-left: 274px;
@media @phonex-strict {
    margin-left: 25px;
  }
@media @phone-strict {
    margin-left: 51px;
  }
}
@media @phonex-strict {
  .Footer_p{
    font-size: 13px;
  }
  }

.Footer_navigation {
  margin: 0;
  padding: 0;
}
.Footer_navigation li {
  display: block;
  margin-top: 7px;
    @media @phonex-strict {
   margin-top: 4px;
}
}

.Footer_navigation li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  @media @phonex-strict {
   font-size: 12px;
  }
}
.Right_column_footer_topic {
  margin-top: -4px;
  display: flex;
  @media @phonex-strict {
    margin-top: -15px;
  }
@media @phone-strict {
    margin-top: -15px;
  }
}
.Second_column_footer_topic {
  margin-left: 51px;
  @media @phonex-strict {
    margin-left: 10px;
  }
@media @phone-strict {
    margin-left: 10px;
  }
}
.Third_column_footer_topic {
  margin-left: 75px;
  @media @phonex-strict {
      margin-left: 20px;
  }
@media @phone-strict {
    margin-left: 20px;
  }
}
.Fourht_column_footer_topic {
  margin-left: 102px;
  @media @phonex-strict {
    margin-left: 20px;
  }
@media @phone-strict {
    margin-left: 20px;
  }
}
.Fifth_signs_column_footer_topic {
  margin-top: -45px;
  margin-left: 134px;
  @media @phonex-strict {
    margin-top: 180px;
    margin-left: -330px;
}
@media @phone-strict {
    margin-top: 225px;
    margin-left: -420px;
}
@media @tablet-strict {
    margin-top: 140px;
    margin-left: -630px;
  }
}
.Fifth_signs_column_footer_topic li {
  display: block;
  text-align: right;
  margin-top: 21px;
  @media @phonex-strict {
    margin-top: 10px;
  }
@media @phone-strict {
    margin-top: 18px;
  }
}
.Delivery_log {
  height: 23px;
  weight: 45px;
    @media @phonex-strict {
   height: 20px;
  weight: 20px;
  }
}
.Heart_log {
  height: 25px;
  weight: 25px;
      @media @phonex-strict {
   height: 20px;
  weight: 20px;
  }
}
.Cup_log {
  height: 23px;
  weight: 21px;
        @media @phonex-strict {
            height: 18px;
  weight: 16px;
}
}
.lane5 {
  display: flex;
}
.Sixth_column_footer_topic {
  margin-top: -53px;
  margin-left: 14px;
  @media @phonex-strict {
    margin-top: 175px;
    margin-left: 10px;
}
@media @phone-strict {
    margin-top: 225px;
    margin-left: 10px;
}
@media @tablet-strict {
    margin-top: 140px;
  }
}
.Sixth_column_footer_topic li {
  margin-top: 30px;
  @media @phonex-strict {
    margin-top: 15px;
  }
@media @phone-strict {
    margin-top: 22px;
  }
}
.Eight_signs_column_footer_topic {
  text-align: center;
  margin-top: -43px;
  margin-left: 115px;
  @media @phonex-strict {
    display: flex;
    margin-top: 285px;
    margin-left: -280px;
}
@media @phone-strict {
    display: flex;
    margin-top: 410px;
    margin-left: -300px;
}
@media @tablet-strict {
    margin-top: 140px;
    margin-left: 0px;
  }
}
.Eight_signs_column_footer_topic li {
  margin-top: 18px;
  display: block;
  @media @phonex-strict {
    margin-top: 0px;
    margin-left: 20px;
}
@media @phone-strict {
    margin-top: 0px;
    margin-left: 20px;
}
@media @tablet-strict {
    margin-top: 20px;
  }
}
.Facebook_log {
  height: 31px;
  weight: 16px;
}
.Twitter_log {
  height: 28px;
  weight: 34px;
}
.Instagram_log {
  height: 31px;
  weight: 31px;
}
.Line_inside_footer {
  margin-top: 37px;
  border: 1px solid #d9d9d4;
  @media @phonex-strict {
    margin-top: -10px;
  }
@media @phone-strict {
    margin-top: 0px;
  }
@media @tablet-strict {
    margin-top: 0px;
  }
}
@media @phonex-strict {
.Footer_p_2{
font-size: 12px;
}
}
